    
%textos_p {
    padding: 15%;
    background-color: none;
    border-radius: 10%;
    color: $color-two;
    font-family: $font-two;
    font-size: x-large;
}

%titulos {
    color: $color-two;
    font-family: $font-two;
    font-size: 50px;
    font-weight: 590;
}
     
    
    
    
    
    
    
    














