*{
    box-sizing: border-box;
}

.img-gy{
    width: 100%;
    transition: transform 0.3s ease-out; 
    &:hover {
      transform: scale(1.2); 
    }

}

.row-img{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;

}

.column {
    flex: 25%;
    padding: 5px;
}
.column img {
    margin-top: 10px;
}


  
@media (max-width: 576px) {
    .column{
        flex:50%;
    }
    
}