
.navbar {
  background-color: $color-two;
  font-family: $font-two;
  font-size: 140%;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: $color-three;
  &:hover,
  &:focus {
    border-bottom: 1px solid $color-three;
  }
}