body{
    background-color: $color-three;
    section{
        h1{
            @extend %titulos;
            @include flex_one (flex-start, space-evenly, wrap);                 
        }

       p{
            @extend %textos_p;
            font-weight: 500;     
       }
    }
}


aside{
    h1{
        @extend %titulos;
        @include flex_one (flex-start, center, wrap); 
    }
    a{
        color: $color-two;
        font-size: large;
        text-decoration: none;
        &:hover,
        &:focus {
          border-bottom: 1px solid $color-two;
        }
        
        
    }
}

header{
    z-index: 99;
    position: sticky;
   top: 0;
}

article{
    h2{
        @include flex_one(center,space-evenly, wrap);
        @extend %titulos
    }
    a{
        color: $color-two;
        font-family: $font-two;
        font-weight: 500;
        text-decoration-line: none;
        margin-top: 40px;
    }
    hr{
        color: $color-two;
        width: 50%;
        height: 200px;
        margin-top: 80px;
        
        
    }  
    

}


.hr-center{
    @include flex_one (center, none, none); 
    flex-direction: column;
    

}

