
.personajes_box{
    @include caja(300px, 550px);
    margin: 0.5%;

}

.personajes_box .personajes_imgBox{
    @include caja (100%, 100%);
    position: absolute;
}

.personajes_box .personajes_imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit:contain
    
}
.personajes_box .personajes_imgBox h1 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    font-family: 'Cormorant SC', serif;
    color: $color-two;
    display: flex;
    justify-content: center;
    font-size: 100%;
}

.personajes_box .personajes_imgBox p {
    position: absolute;
    top: 60%;
    left: 5%;
    width: 90%;
    height: 50%;
    font-family: 'Cormorant SC', serif;
    color: $color-two;
    display: flex;
    justify-content: center;
    font-size: 75%;
}
