main{
    div{
        h1{
            color: $color-two;
            font-family: $font-two;
            font-size: x-large;
            font-weight: 500;         
        }
        ul{
            li{
                color: $color-two;
                font-family: $font-two;
                font-size: medium; 
            }
        }

        div{
            iframe{
                max-width: 100%;
            }
        }
    }
}
